.sample-head-container-div{
    width: 100%;
    height: 100px;
    background-color:#434e5c;
}
.sample-head-inner-div{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height:inherit;
    position: relative;
}
.sample-head-log-div{
    font-size: 40px;
    color: white;
    width:160px;
    flex-shrink: 0;
}
.sample-head-log-div sub{
    margin-left: 10px;
    font-size:26px;
}
.sample-head-menu-div{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 40px;
    width: 100%;
}
.sample-head-menu-div a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.login-button-div{
    position: absolute;
    right: 0px;
    top: 40px;
    color: white;
    cursor: pointer;
}
.login-button-div:hover a{
    color: #fd4733 ;
}
.login-button-div a{
    color: white;
    text-decoration: none;
}