.contract-me-div{
    width:100%;
    margin-top: 150px;
    margin-bottom:100px;
}
.contract-me-img-div{
    position: relative;
}
.contract-me-shade-div{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    z-index: 10;
}
.contract-me-form{
    height: 420px;
    width: 320px;
    background-color:white;
    z-index: 20;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}

#visitorName,
#visitorEmail{
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin: 20px auto;

}

#visitorMessage{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 6px;
    width:100%;
    resize:none;
    height: 80px;
    font-size:14px;
    margin: 20px auto;
}
#visitorName:focus,
#visitorEmail:focus,
#visitorMessage:focus{
    border-color: #fd4733;
}
.submit-button{
    height: 40px;
    width: 220px;
    color: white;
    background-color:#fd4733;
    line-height:40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.submit-button:hover{
    background-color:white;
    color: #fd4733;
    border: 1px solid #fd4733;
}
.map-img{
    width: 100%;
}

.contract-me-form h2{
    margin: 20px auto;
}
.contract-me-form h2{
    font-size: 20px;
    color:#434e5c;
}
.contract-me-form h2 sub{
    margin-left: 10px;
    font-size: 16px;
}
.flex-part-div{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -210px;
    margin-left: -320px;
    flex-wrap: nowrap;
    z-index: 10;
    align-items: center;
}
.phone-desc-div{
    margin-left: 30px;

    color: white;
}
.phone-desc-div span{
    font-size: 20px;
}
.phone-desc-div p{
    margin: 30px 0;
    font-size: 26px;
}
.site-container-div{
    text-align: center;
}
.site-icon{
    margin: 10px auto;
    font-size: 100px !important;
}
.site-container-div{
    animation: siteA 3s linear infinite;
    -webkit-animation: siteA 3s linear infinite;
    position: relative;
}
@keyframes siteA {
    10%{
        top: 0px;
    }
    30%{
        top: -20px;
    }
    40%{
        transform:rotateY(0deg);
        top: -20px;
    }
    55%{
         transform:rotateY(180deg);
         top: -20px;
    }
    70%{
        transform:rotateY(0deg);
        top: -20px;
    }
    90%{
        top: 0px;
    }
}
@-webkit-keyframes siteA {
    10%{
        top: 0px;
    }
    30%{
        top: -20px;
    }
    40%{
        transform:rotateY(0deg);
        top: -20px;
    }
    55%{
        transform:rotateY(180deg);
        top: -20px;
    }
    70%{
        transform:rotateY(0deg);
        top: -20px;
    }
    90%{
        top: 0px;
    }
}